.blogs {
  background-color: #000;
  padding: 5rem 9%;
}

.swiper-pagination-bullet {
  height: 2rem;
  width: 2rem;
  background: #fff;
  border-radius: 0;
}

.blogs .swiper {
  display: flex;
  flex-direction: row;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f00;
}

.blogs .slide {
  background: #111;
  margin-bottom: 7rem;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 0.1rem;
  width: 100%;
  background: #aaa;
  z-index: -1;
}

.heading span {
  font-size: 3rem;
  color: #f00;
  background: #000;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid #aaa;
  border-radius: 0.5rem;
}

.blogs .slide:hover .image img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.blogs .slide .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
  padding: 1rem;
}

.blogs .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.blogs .slide .content {
  padding: 2rem;
}

.blogs .slide .content .link {
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}

.blogs .slide .content .link a {
  color: #f00;
}

.blogs .slide .content .link a:hover {
  color: #fff;
}

.blogs .slide .content .link span {
  color: #fff;
  padding: 0 1rem;
}

.blogs .slide .content h3 {
  font-size: 2rem;
  color: #fff;
  line-height: 1.5;
}

.blogs .slide .content p {
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
  padding: 1rem 0;
}
